/* Reset básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}




header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #be54ad;
}

.profile-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(250, 249, 249, 0);
    overflow: hidden;
}

.profile-header {
    background: linear-gradient(to right, rgba(129, 0, 161, 0.7), rgba(243, 80, 194, 0.7));
    color: #ffffff;
    padding: 20px;
    text-align: center;
}


.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header h2 {
    font-size: 1.8em;
    margin: 10px 0;
}

.profile-header p {
    font-size: 1.2em;
    margin: 5px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #7d0c99;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #c90e91;
}

.profile-details {
    padding: 20px;
    text-align: left;
}

.profile-details h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #000000;
}

.profile-details p {
    font-size: 1em;
    margin: 10px 0;
}
